body {
    margin: 0;
    box-sizing: border-box;
    background-color: #98fb98;
}

#all-products {
    display: block;
    position: relative;
}

.product-photo {
    display: inline-block;
    padding: 25px;
    width: 20%;
    height: auto;
}

#product-1 {
    background-image: url(../img/product-1.jpg);
}

#product-2 {
    background-image: url(../img/product-2.jpg);
}

#product-3 {
    background-image: url(../img/product-3.jpg);
}

#product-4 {
    background-image: url(../img/product-4.jpg);
}